<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Transaction details </h1>

<form method="POST" >
    {% csrf_token %}<h2>Filter</h2>
    <table>
        <th>Category</th>
        <tr>{%for i in a%}
            <td><input type="checkbox" name="option" value="{{i.Category}}">{{i.Category}}</label></td>{%endfor%}</tr>
        <th>Date</th>
        <tr>{%for i in date%}
            <td><input type="checkbox" name="dates" value="{{i}}">{{i}}</label></td>{%endfor%}</tr>
        <tr><td><td>
                <input type="submit" value="Filter">
            </td></td></tr>
    </table>

</form>
<h2>Transaction </h2>
<table cellspacing="10" cellpadding="3">
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>User</th>
    <th>Category</th>
    <th>Debit</th>
    <th>Credit</th>
      <th>Getback</th>
    <th>Remaing</th>
      <th>Debit_Balance</th>

      <th>Action</th>
  </tr>
  {%for i in value%}
  <tr>
  <td>{{i.id}}</td>
    <td>{{i.Date}}</td>
    <td>{{i.User}}</td>
    <td>{{i.Category}}</td>
    <td>{{i.Debit}}</td>
    <td>{{i.Credit}}</td>
      <td>{{i.Getback}}</td>
    <td>{{i.Balance}}</td>
      <td>{{i.Debit_Balance}}</td>

    <td><a href="/transedit/{{i.id}}">Edit</a></td>
      <td><a href="/trancdelete/{{i.id}}">Delete</a></td>
  </tr>

  {% endfor %}
</table>
<h3>Expenses : {{expenses}}</h3>

<h2>Others</h2>
<table>
        <tr><td>
            <a href="/friend/"> Friend request</a>
        </td></tr>

        <tr><td>
            <a href="/catadd/">Add Category</a>

    </table>

</body>
</html>