<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
  Friend Page
</h1>
 <h3> Welcome {{username}}</h3>
<h2>Transaction </h2>
<table cellspacing="10" cellpadding="3">
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>User</th>
    <th>Category</th>

    <th>Debit</th>
    <th>Credit</th>
      <th>Getback</th>
      <th>Remaining</th>
      <th>Debit_Balance</th>


  </tr>
  {%for i in value%}
  <tr>
  <td>{{i.id}}</td>
    <td>{{i.Date}}</td>
    <td>{{i.User}}</td>
    <td>{{i.Category}}</td>
    <td>{{i.Debit}}</td>
    <td>{{i.Credit}}</td>
      <td>{{i.Getback}}</td>
      <td>{{i.Balance}}</td>
      <td>{{i.Debit_Balance}}</td>

  </tr>

  {% endfor %}
</table>
<h3>Your Share : {{balance}} </h3>
<label>(if (-),sign indicate that need to pay)</label>
<h3>Extra_Spend : {{get_back}}</h3>
<label>(you can get back the extra spend )</label>
<br>
    <table>

        <tr><td>
            <a href="/debit/{{username}}"> Debit</a>
        </td></tr>
        <tr><td>
            <a href="/getback/{{username}}"> Getback</a>
            <label>(before get back check the available debit balance)</label>
        </td></tr>
      <tr><td>
            <a href="/credit/{{username}}"> Credit</a>
        </td></tr>


    </table>
</body>
</html>