<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
  Friend Page
</h1>
 <h3> Welcome {{username}}</h3>
<h2>Transaction </h2>
<table>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>User</th>
    <th>Category</th>
      <th>Description</th>
    <th>Debit</th>
    <th>Credit</th>
      <th>Remaining</th>


  </tr>
  {%for i in value%}
  <tr>
  <td>{{i.id}}</td>
    <td>{{i.Date}}</td>
    <td>{{i.User}}</td>
    <td>{{i.Category}}</td>
      <td>{{i.Description}}</td>
    <td>{{i.Debit}}</td>
    <td>{{i.Credit}}</td>
      <td>{{i.Balance}}</td>

  </tr>

  {% endfor %}
</table>
<h3>Your Balance : {{balance}}</h3>
<br>
    <table>

        <tr><td>
            <a href="/debit/{{username}}"> Debit</a>
        </td></tr>
      <tr><td>
            <a href="/credit/{{username}}"> Credit</a>
        </td></tr>


    </table>
</body>
</html>